<div id="notice"><%= notice %></div>

<div class="page-content narrow">
  <header class="page-header">
    <h1><%= @idea.name %></h1>
    <ul class="toolbar">
      <li><%= link_to 'Edit', edit_idea_path(@idea) %></li>
      <li><%= link_to 'Back', ideas_path %></li>
    </ul>
  </header>

  <div class="idea-image">
    <%= image_tag(@idea.picture.url, :width => 600) if @idea.picture.present? %>
  </div>
  <p class="desc"><%= @idea.description %></p>
</div>