<div id="notice"><%= notice %></div>

<div class="page-content narrow">
  <header class="page-header">
    <h1><%= @idea.name %></h1>
    <ul class="toolbar">
      <li><%= link_to 'Edit', edit_idea_path(@idea) %></li>
      <li><%= link_to 'Back', ideas_path %></li>
    </ul>
  </header>

  <div class="idea-image">
    <%= image_tag(@idea.picture.url, :width => 80) if @idea.picture.present? %>
  </div>
  <p class="desc"><%= @idea.description %></p>
  
  <div class="comments">
    <h3>Comments</h3>
    <ul>
    <% @idea.comments.each do |comment| %>
      <li>
        <h4><%= comment.user_name %></h4>
        <p><%= comment.body %><p>
      </li>
    <% end %>
    </ul>
    <%= render 'comments/form' %>
  </div>
</div>